.add-book {
    height: 100vh;
}

.form-container {
    padding: 2em;
}

.inputs-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.actions button {
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 500;
    border: none;
}

.actions button:disabled {
    background-color: #A5A5A5;
}

.resenha span {
    color: #909090;
    font-size: 0.8em;
}