.add-book {
    height: 100vh;
}

.form-container {
    padding: 2em;
}

.inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.actions button {
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 500;
    border: none;
}