.book-menu {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.book-menu svg {
  width: 25px;
  height: 25px;
  color: var(--primary-color);
}

.book-body {
  padding: 1em 1.5em;
}

.book-img {
  width: 100%;
  text-align: center;
}

.book-img img {
  width: 196px;
  height: 251px;
}

.book-title {
  text-align: center;
}

.book-title h1 {
  margin-bottom: 10px;
}

.book-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
}

.book-info p {
  color: #727272;
  font-weight: 600;
  margin-bottom: 10px;
}

.book-info svg {
  color: var(--primary-color);
}

.book-sinopse,
.book-review,
.book-info,
.book-title {
  margin: 30px 0;
}
