.book-menu {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.book-menu svg {
  width: 25px;
  height: 25px;
  color: var(--primary-color);
}

.book-body {
  padding: 1em 1.5em;
}

.book-img {
  width: 100%;
  text-align: center;
}

.book-img img {
  width: 196px;
  height: 251px;
}

.book-title {
  text-align: center;
}

.book-title h1 {
  margin-bottom: 10px;
}

.book-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
}

.book-info p {
  color: #727272;
  font-weight: 600;
  margin-bottom: 10px;
}

.book-info svg {
  color: var(--primary-color);
}

.book-sinopse,
.book-review,
.book-info,
.book-title {
  margin: 30px 0;
}

.book-sinopse p {
  height: 200px;
  overflow: scroll;
}

.options-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
  right: 10px;
  row-gap: 10px;
  border-radius: 5px;
  background-color: #E8E8E8;
  padding: 0.5em;
  z-index: 100;
}

.option {
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #ffffff;
}

.option.delete {
  background-color: #969696;
}
