.search {
  height: 100vh;
  padding: 1em;
}

.search-books input {
  width: 100%;
  margin-top: 100px;
}

.search input[type="search"] {
  width: 100%;
  height: 35px;
  padding: 0em 3em 0 1em !important;
  border: none;
  border-radius: 5px;
  color: var(--primary-color);
  font-weight: bold;
}

.search-books input[type="search"]:focus-visible {
  border: solid 2px var(--primary-color);
  outline: var(--primary-color);
}

.search .search-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 25px;
  top: 120px;
  color: var(--primary-color);
}
